.HomePage {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.HomePage-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.HomePage-description > h1 {
  background: linear-gradient(90deg, #fd377e 49.84%, #ffffff 29.25%);
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
  border: 2.5px solid #fd377e;
}

.HomePage-description > p {
  font-weight: 800;
  font-size: 38px;

  color: #ffffff;

  padding: 0px;
  margin: 0px;
}

.HomePage-description > span {
  font-weight: 400;
  font-size: 16px;

  color: #ffffff;
}

.HomePage-description > button {
  height: 48px;
  width: 200px;
  margin-top: 15px;

  border-radius: 4px;
  border: 2.5px solid #fd377e;

  background-color: #fd377e;

  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.HomePage-description > button:hover {
  filter: brightness(1.2);
}
