.List-transactions {
  list-style: none;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-height: 240px;

  overflow-x: auto;

  padding: 0 10px 0 0;
  margin: 0 0 20px 0;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #1d3784;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}

@media (max-width: 690px) {
  .List-transactions {
    max-height: 180px;

    overflow-x: auto;
  }
}
