.App-header {
  width: 100vw;
  height: 90px;
  padding: 0 20px;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f8f9fa;
  box-shadow: 0px 4px 32px 12px #00000025;
}

.App-header > span {
  height: fit-content;
  padding: 5px;

  border-radius: 4px;

  background: linear-gradient(90deg, #fd377e 50%, #ffffff 29.25%);

  font-size: 24px;
  font-weight: 400;
}

.App-header > button {
  height: fit-content;
  width: 150px;
  padding: 5px;

  border-radius: 4px;
  border: 2.5px solid #fd377e;

  background-color: #fd377e;

  cursor: pointer;

  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}
